<%- include('layout/header') -%>
    <form action="/login" method="post">
        correo: <input type="text" id="correo" name="correo">
        contraseña <input type="text" id="contraseña" name="contraseña">
        <input type="submit" value="entrar">
        <a href="registrate">registrate</a>
        <%if(typeof errores != "undefined"){%>
            <% errores.forEach(function(error){ %>
                <p><%=error.msg%></p> 
            <% }); %>
        <%}%>
    </form>
    
</body>
</html>