<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        correo: <input type="text" id="correo" name="correo">
        contraseña <input type="text" id="contraseña" name="contraseña">
        <input type="submit" value="entrar">
        <a href="registrate">registrate</a>
        <%if(typeof errores != "undefined"){%>
            <% errores.forEach(function(error){ %>
                <p><%=error.msg%></p> 
            <% }); %>
        <%}%>
    </form>
    
</body>
</html>