<%- include('layout/header') -%>
    Su pago se ha realizado de manera correcta, Gracias por su compra!!!

    <script>
        setTimeout(() => {    
            location.href ="/"
        }, 3000);
    </script>
</body>
</html>